<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Login V15</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="img/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="css/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="css/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="css/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="css/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="css/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="css/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">


</head>

</head>
	

<body class="templatemo-bg-image-1">
	<div class="limiter">
		<div class="container-login100">
		
			<div class="wrap-login100">
				<div class="login100-form-title"
					style="background-image: url(img/bg-01.jpg);">
					<span class="login100-form-title-1"> Change Password. </span>
				</div>
				
				<div id="fade" th:if="${successMessage}" class="alert alert-success"
					role="alert" th:text=${successMessage}></div>

				<div id="fadeError" th:if="${errorMessage}"
					class="alert alert-danger" role="alert" th:text=${errorMessage}></div>

				<form class="login100-form validate-form"
					th:action="@{/changePasswordAdmin}" method='POST'>
					
					<input th:type="hidden" name="id"
								th:field="${user.userId}" />

					<div class="wrap-input100 validate-input m-b-26"
						data-validate="Username is required">

						<span class="label-input100">Username</span> <input
							class="input100" type="text" name="username" value=''
							placeholder="Enter Username" th:field="${user.userName}" required="required"> <span
							class="focus-input100"></span>
					</div>

<!-- 					<div class="wrap-input100 validate-input m-b-18" -->
<!-- 						data-validate="Password is required"> -->
<!-- 						<span class="label-input100"> Email</span> <input -->
<!-- 							class="input100" type="password" name="password" -->
<!-- 							placeholder="Enter password" required="required" th:field="${user.oldPassword}" -->
<!-- 							title="Must contain at least one number and one uppercase and lowercase letter, and at least 3 or more characters"> -->
<!-- 						<span class="focus-input100"></span> -->
<!-- 					</div> -->
					
<!-- 					<div class="wrap-input100 validate-input m-b-18" -->
<!-- 						data-validate="Password is required"> -->
<!-- 						<span class="label-input100"> New Password</span> <input -->
<!-- 							class="input100" type="password" name="password" -->
<!-- 							placeholder="Enter password" required="required" th:field="${user.newPassword}" -->
<!-- 							title="Must contain at least one number and one uppercase and lowercase letter, and at least 3 or more characters"> -->
<!-- 						<span class="focus-input100"></span> -->
<!-- 					</div> -->
					
<!-- 					<div class="wrap-input100 validate-input m-b-18" -->
<!-- 						data-validate="Password is required"> -->
<!-- 						<span class="label-input100"> Confirm Password</span> <input -->
<!-- 							class="input100" type="password" name="password" -->
<!-- 							placeholder="Enter password" required="required" th:field="${user.confirmNewPassword}" -->
<!-- 							title="Must contain at least one number and one uppercase and lowercase letter, and at least 3 or more characters"> -->
<!-- 						<span class="focus-input100"></span> -->
<!-- 					</div> -->

					<div class="container-login100-form-btn">
						<input id="login" class="login100-form-btn" name="submit"
							type="submit" value="Reset" />
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--===============================================================================================-->
	<script src="css/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="css/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="css/vendor/bootstrap/js/popper.js"></script>
	<script src="css/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="css/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="css/vendor/daterangepicker/moment.min.js"></script>
	<script src="css/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="css/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>
	
	<!-- custom js -->
	<script type="text/javascript" src="js/custom/validator.js"></script>
</body>

</html>